<input text="text" ng-model="searchTxt" class="pull pull-right">
<table class="table">
  <thead>
    <tr><th>JOB TITLE</th><th>SKILLS REQUIRED</th><th>POSTED ON</th>
  </thead>
  
  <tbody>
    <tr ng-repeat="job in jobs | filter:searchTxt ">
      <td>
        <a href="" ng-click="getJob(job.id)">{{job.jobTitle}}</a>
      </td>
      <td>
          {{job.skillsRequired}}
      </td>
      <td>
          {{job.postedOn | date:'medium'}}
      </td>
    </tr>      
  </tbody>
</table>

<div ng-show="showDetails">
<h3>Job Details</h3>
<pre>
JobTitle: {{job.jobTitle}}
JobDescription: {{job.jobDescription}}
SkillsRequired: {{job.skillsRequired}}
Location: {{job.lacation}}
Company Name: {{job.companyname}}
Salary: {{job.salary}}
PostedOn: {{job.postedOn | date : 'medium'}}
Years of Exp: {{job.yrsOfExp}}
</pre>

</div>